<h1>Current ads:</h1>

<% Ad.all.each do |ad| %>

  <%= image_tag(ad.image_path, size: "310x500") %>
  <%= link_to "Remove", ad_path(ad.id), method: :delete, data: { confirm: "Are you sure  you want to delete this ad?" }, class: "button radius" %>
  <br>
  <hr>

<% end %>