<h1 class="masthead">Hanbury Street Rag</h1>


<div class="row">
  <div class="medium-4 columns">

        <% @articles.each do |article| %>
        
            <% if article.id.odd? %>
                <h3><%= link_to article.headline, article %></h3>
                <p><%= article.standfirst %></p>
            <% end %>
        <% end %>
    </div>

    <div class="medium-4 columns">
    
        <% @articles.each do |article| %>
         <% if article.id.even? %>
                <h3><%= link_to article.headline, article %></h3>
                <p><%= article.standfirst %></p>
            <% end %>
        <% end %>
    </div>

    <div class="medium-4 columns">ADS TO GO HERE</div>

</div>