@import "foundation_and_overrides.scss";

h1 {
  font-weight: 700;
}

h4 {
  font-weight: 700;
  color: $jet;
}

h5 {
  letter-spacing: -1px;
}

// a {
// }

.message-box {
	margin: 70px;
}

.notice {
  color: green;
}

.alert {
  color: red;
}

.masthead {
	text-align: center;
	font-size: 70px;
	margin: 20px;
	font-family: 'UnifrakturMaguntia', cursive;
  text-shadow: 3px 3px #888888;
}

.debugger-box {
	border: 3px solid green;
}

// .checkboxes {
// 	border: 2px solid green;
// }

// div {
//   border: 2px solid pink;
// }

div.large-8.small-9.columns, div.large-4.small-3.columns {
  background: $espresso;
}


