@import "foundation_and_overrides.scss";

h1 {
  font-weight: 700;
}

h4 {
  font-weight: 700;
}

h5 {
 letter-spacing: -1px;
}

.article-content {
  font-weight: $font-weight-light;
  font-size: 17px;
}

.message-box {
	margin: 20px;
}

.masthead {
	text-align: center;
	font-size: 70px;
	margin: 20px;
	font-family: 'UnifrakturMaguntia', cursive;
}

.debugger-box {
	border: 3px solid green;
}

// .checkboxes {
// 	border: 2px solid green;
// }

// div {
//   border: 2px solid pink;
// }

div.large-8.small-9.columns, div.large-4.small-3.columns {
  background: $espresso;
}


