
.message-box {
	margin: 20px;
}

.masthead {
	text-align: center;
	font-size: 70px;
	margin: 20px;
	font-family: 'UnifrakturMaguntia', cursive;
}

.debugger-box {
	border: 3px solid green;
}

// .checkboxes {
// 	border: 2px solid green;
// }

// div {
//   border: 2px solid pink;
// }